<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblogging</title>
</head>
<body>
    <h1>Feed</h1>
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {% for message in messages %}
            <li>
                <p>{{ message.author.username }} : <br>{{ message.text }} <br> {{ message.date }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>