{% extends "base.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
    <h1>Home de {{ user.username }}</h1><br><a href="{% url 'logout' %}">Log out</a>
    <form action="" method="POST">{% csrf_token %}
        <table>
            <tr>
              <td>{{ form.text.label_tag }}</td>
              <td>{{ form.text }}</td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {% for message in messages %}
            <li>
                <p>{{ message.author.username }} : <br>{{ message.text }} <br> {{ message.date }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
