<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Sign Up</title>
</head>
<body>
    <div class="contenido">
        <div class="signinheader">
            <img class="logo" src="../static/logo.png">
            <h1>Microblogging</h1>
        </div>
        <div class="form">
            <form action="" method="POST">{% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
